.flashcards {
  margin: 2em auto;
  text-align: center;

  .card {
    border: 1px solid #000;
    @include box-shadow(0.2em 0.2em 0.1em 0.1em #000);
    display: table;
    width: 40em;
    height: 20em;
    margin: 2em auto;
  }

  .card-question,
  .card-answer {
    display: table-cell;
    vertical-align: middle;
  }

  .controls {
    margin: 2em auto;
  }
}