<div class="card">
  <div class="card-answer">{{card.answer}}</div>
</div>

<div class="controls">
  <a ng-click="answerCorrect()" class="medium radius success button">I know it</a>
  <a ng-click="answerWrong()" class="medium radius alert button">I don't know it</a>

  <div class="controls-sub">
    <a href="#" ng-click="card-hide" class="tiny radius button">Don't show this card again</a>
    <a href="#" class="tiny radius button">Show the question again</a>
  </div>
  <div class="score">Current score: {{ score }} / {{ attempts }} : {{ scorePct }}&percnt;</div>
</div>
